// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.item {
    margin-left: 10px;
}

body {
    margin: 0;
}

.wrap-content {
    overflow: hidden;
    height: 20px;
}

.thumn {
    padding-top: 20px;
}

